*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ///////////////////////////////////// */
.card-body{
    background: linear-gradient(#0d2d68, rgba(0, 153, 204, 0.779));
}
/* //////////////////////////////////////// */